/* Design */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  background-color: #ffffff;
  height: 100%;
  width: 100vw;
}
.font-face-hv {
  font-family: "Helvetica";
}
